<section id="hero">

 <div class="row">

   <div class="twelve columns">

     <div class="hero-text">
       <h1 class="responsive-headline">New League</h1>
       <p>Leagues are groups of friends</p>       
     </div>
     </br>

   </div>

 </div>

</section>
<section id="styles">
	<div class="row">
	  	<%= render 'form' %>

		<%= link_to 'Back', leagues_path %>
	</div>
</section>




