<header>

  <div class="logo">
     <a class="smoothscroll" href="#hero"><img alt="" src="images/logo.png"></a>
  </div>

  <nav id="nav-wrap">         
     
     <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>         

     <ul id="nav" class="nav">
        <li><a class="smoothscroll" href="#features">Home</a></li>
       <li><a class="smoothscroll" href="/games">Games</a></li>
     </ul> <!-- end #nav -->

  </nav> <!-- end #nav-wrap -->

  <ul class="header-social">
     <li><a href="#"><i class="fa fa-facebook"></i></a></li>
     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
     <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
  </ul>

</header>

<section id="hero">

 <div class="row">

   <div class="twelve columns">

     <div class="hero-text">
       <h1 class="responsive-headline">RugBet</h1>
       <p>Rugby + Bet + Beer = Rugbet</p>
     </div>
     </br>

   </div>
 </div>

</section>
