<section id="hero">

 <div class="row">

   <div class="twelve columns">

     <div class="hero-text">
       <h1 class="responsive-headline">RugBet</h1>
       <p>Rugby + Bet + Beer = Rugbet</p>
     </div>
     </br>

   </div>
 </div>

</section>
<section id="styles">
  <div class="row">
  <h2> Time remaining before the tournament starts :</h2>
  </div>

	<div class="row">
	  <center><div id="count-down"></div></center>
	</div>
</section>



<script type="text/javascript">
 $(document).ready(function () {
 $('#count-down').county({ endDateTime: new Date('2015/09/18 21:00:00'), reflection: false, animation: 'scroll', theme: 'black' });
 });
</script>
