<section id="hero">

 <div class="row">

   <div class="twelve columns">

     <div class="hero-text">
       <h1 class="responsive-headline">RugBet</h1>
       <p>Rugby + Bet + Beer = Rugbet</p>
     </div>
     </br>

   </div>
 </div>

</section>
<div class="row">
  <center><div id="count-down"></div></center>
</div>
<script src="http://shoxx-website.com/stuff/utils/countyjs/js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="http://shoxx-website.com/stuff/utils/countyjs/js/county.js" type="text/javascript"></script>


<script type="text/javascript">
 $(document).ready(function () {
 $('#count-down').county({ endDateTime: new Date('2015/09/27 10:00:00'), reflection: false, animation: 'scroll', theme: 'black' });
 });
</script>
