<section id="hero">

 <div class="row">

   <div class="twelve columns">

     <div class="hero-text">
       <h1 class="responsive-headline">RugBet</h1>
       <p>Rugby + Bet + Beer = Rugbet</p>
     </div>
     </br>

   </div>
 </div>

</section>
