<section id="hero">

 <div class="row">

   <div class="twelve columns">

     <div class="hero-text">
       <h1 class="responsive-headline">Ranking</h1>
       <p>Who's the best ?</p>
     </div>
     </br>
   </div>
 </div>

</section>
<section id="styles">
  <div class="row">
  <table id="rankingTable">
  <tr>
    <th>Position</th>
    <th>User</th>
    <th>Score</th>
  </tr>
    <% i = 1 %>
    <% @users.each do |user| %>
    <tr>
      <td class="small"%><% if i==1 %><i class="fa fa-beer"></i><% else %>  <%= i %> <% end %> </td>
      <% i=i+1 %>
      <td class="mid"><%= user.username %> </td>
      <td class="small"><% if user.sum==nil %>0<% else %>user.sum<% end %></td>
    </tr>
    <% end %>
  </table>
  </div>
</section>
