<section id="hero">

 <div class="row">

   <div class="twelve columns">

     <div class="hero-text">
       <h1 class="responsive-headline">Ranking</h1>
       <p>Who's the best ?</p>
     </div>
     </br>
   </div>
 </div>

</section>
<section>
  <div class="row">
    <% i = 1 %>
    <% @users.each do |user| %>
      <%= i %>
      <% i=i+1 %>
      <%= user.username %>
      <% if user.sum==nil %>
        0
      <% else %>
        user.sum
      <% end %>
      </br>
    <% end %>
  </div>
</section>
