/*Menu*/
ul#nav li a{
	color:#fff;
}

header .header-social{
	color:#fff;
	font: 11px "montserrat-regular",sans-serif;
	line-height: 38px;
	padding: 8px;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar-link{
	font: 11px "montserrat-regular",sans-serif;
	color:#fff;
	padding: 8px;
}

a:visited.navbar-link{
	color:#fff;
}

/*General*/

#styles{
	padding-top: 20px;
	background: #fff;
}

#styles p {
	color: #000;
}

footer {
	text-align: center;
}

.left{
	float:left;
}
.right{
	float:right;
}

/*Games*/
.gameFlags{
	width:33%;
	float:left;
	text-align:center;
}

.gameDesc{
	width:33%;
	float:left;
	text-align:center;
	margin-left:33%;
	font-size: 16px;
	font-style: italic;
}

.gameTitle{
	width:33%;
	float:left;
	text-align:center;
	padding-top: 3%;
}

.gameBet{
	text-align: center;
}

.games{
	text-align: center;
}

.gameBet .actions{
	padding-top: 20px;
}

.pagination{
	margin-top: 2px;
	text-align: center;
	padding: 0px;
	padding-bottom: 1%;
	border: 0px none;
	outline: 0px none;
	font-size: 100%;
	vertical-align: baseline;
	background: none repeat scroll 0% 0% transparent;
	box-sizing: border-box;
}

.pagination a{
	font: 15px/18px "opensans-bold",sans-serif;
	display: inline-block;
	padding: 6px 10px;
	margin-right: 3px;
	margin-bottom: 6px;
	color: #6E757C;
	background-color: #E6E8EB;
	transition: all 200ms ease-in-out 0s;
	border-radius: 3px;
}

.pagination em{
	font: 15px/18px "opensans-bold",sans-serif;
	display: inline-block;
	padding: 6px 10px;
	margin-right: 3px;
	margin-bottom: 6px;
	background-color: #11ABB0;
	color: #FFF;
	transition: all 200ms ease-in-out 0s;
	border-radius: 3px;
}

.pagination span{
	font: 15px/18px "opensans-bold",sans-serif;
	display: inline-block;
	padding: 6px 10px;
	margin-right: 3px;
	margin-bottom: 6px;
	background-color: #E6E8EB;
	color: #A9ADB2;
	transition: all 200ms ease-in-out 0s;
	border-radius: 3px;
}

.gameComments{
	text-align: center;
}

.gameComments #comment_body{
	min-height: 100px;
	display:inline;
	min-width: 40%;
	margin-bottom: 0px;
	margin-top: 10px;
}

/*Leagues*/
#field{
	margin-left:2%;
}
#newLeague{
	text-align: right;
}
#newLeague a{
	color: white;
}
.fullTable{
	width:100%;
}