.gameFlags{
	width:33%;
	float:left;
	text-align:center;
}

.gameDesc{
	width:33%;
	float:left;
	text-align:center;
	margin-left:33%;
}
.gameTitle{
	width:33%;
	float:left;
	text-align:center;
}

ul#nav li a{
	color:#fff;
}

header .header-social{
	color:#fff;
}

.navbar-link{
	color:#fff;
}