<!DOCTYPE html>
<html>
<head>
  <title>RugBet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="/bower_components/jquery.countdown/dist/jquery.countdown.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
